/* Fuentes */
/*Colores*/
/* Maps */
/*Estilos reset*/
* {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  margin: 0;
}

/* Estilos Header */
nav {
  background: #DB5461 !important;
}

.title-header {
  font-weight: bold;
  margin-top: 14px;
  margin-left: 10px;
  font-size: 1.2em;
  color: white;
  cursor: pointer;
}

.logo {
  width: 75px;
  height: 75px;
  margin-left: 5px;
}

.nav-link.active {
  text-decoration: none;
  color: black !important;
}

.nav-link:hover {
  color: black !important;
}

.nav-link {
  color: white;
}

/*Estilos Body*/
/* Hero */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/restaurante.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.hero h1 {
  font-size: 2.2em;
  color: white;
}
.hero p {
  text-align: center;
  font-size: 1.2em;
  color: white;
}
.hero .button-hero {
  font-weight: bold;
  color: white;
  background: #DB5461;
  text-decoration: none;
  border-radius: 50%;
  padding: 22px;
}
.hero .button-hero:hover {
  color: #DB5461;
  background: white;
}

/* About Principal */
.about-principal {
  background-color: #DB5461;
}
.about-principal p {
  margin: 0;
  font-size: 1.2em;
  color: white;
  padding: 20px;
}
.about-principal .video-container {
  display: flex;
  justify-content: center;
  padding: 30px 20px;
}

/* Galery index */
.card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card-container .img-card {
  width: 36vh;
  height: 25vh;
  transition: transform 0.3s ease-in-out;
}
.card-container .img-card:hover {
  transform: scale(1.2);
}

/* Galery */
.galery-container .img-galery {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.galery-container .img-galery:hover {
  transform: scale(1.1);
}
.galery-container .title-page {
  color: #ab85ff;
}

/* Formulario */
.form-container h2 {
  color: #ab85ff;
}
.form-container .form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.form-container .btn, .form-container .btn--login {
  font-weight: bold;
  background-color: #DB5461;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 100%;
  height: 50px;
}
.form-container .btn:hover, .form-container .btn--login:hover {
  background-color: white;
  color: #DB5461;
  border: 2px solid #DB5461;
}
.form-container .btn--login {
  font-size: 15px;
  height: 60px;
}

/* Button whatsapp */
.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-wsp:hover {
  text-decoration: none;
  color: #0df053;
  background-color: #fff;
}

/*Estilos Footer */
footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "contacto horarios mapa";
  background-color: rgb(189, 193, 198);
  padding: 20px;
}
footer .icon {
  width: 25px;
  height: 25px;
}
footer a {
  text-decoration: none;
  display: flex;
  align-items: flex-start;
}
footer hr {
  display: none;
}
footer .data {
  grid-area: contacto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .data p {
  margin-left: 7px;
}
footer .data .redes-sociales {
  margin-top: 10px;
}
footer .data .redes-sociales a {
  display: inline-block;
}
footer .data .redes-sociales a i {
  text-align: center;
  font-size: 25px;
  color: black;
  margin: 20px;
  border-radius: 50%;
  padding: 15px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
  transition: 0.3s ease;
}
footer .data .redes-sociales a .fa-facebook:hover {
  background-color: #1877f2;
  color: white;
  box-shadow: 0 0 15px #1877f2, 0 0 45px #1877f2, 0 0 75px #1877f2, 0 0 115px #1877f2;
}
footer .data .redes-sociales a .fa-instagram:hover {
  background-image: linear-gradient(to top, #FDCB5D, #FD5949, #E1306C, #833AB4, #4C68D7);
  color: white;
  box-shadow: 0 0 15px linear-gradient(to top, #FDCB5D, #FD5949, #E1306C, #833AB4, #4C68D7), 0 0 45px linear-gradient(to top, #FDCB5D, #FD5949, #E1306C, #833AB4, #4C68D7), 0 0 75px linear-gradient(to top, #FDCB5D, #FD5949, #E1306C, #833AB4, #4C68D7), 0 0 115px linear-gradient(to top, #FDCB5D, #FD5949, #E1306C, #833AB4, #4C68D7);
}
footer .data .redes-sociales a .fa-whatsapp:hover {
  background-color: #0df053;
  color: white;
  box-shadow: 0 0 15px #0df053, 0 0 45px #0df053, 0 0 75px #0df053, 0 0 115px #0df053;
}
footer .horarios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .horarios .date-container {
  grid-area: horarios;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
footer .horarios .date-container p {
  margin-left: 7px;
  cursor: default;
}
footer .map {
  grid-area: mapa;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .map iframe {
  width: 90%;
  height: 200px;
}

/* Medias Query */
@media screen and (max-width: 380px) {
  .logo {
    width: 45px;
    height: 45px;
  }
  .title-header {
    font-size: 0.7em;
    margin-left: 0;
  }
  .video-container iframe {
    width: 285px;
    margin: auto;
  }
}
@media (max-width: 800px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer hr {
    display: block;
    width: 100%;
    margin: 20px 0;
    height: 1px;
    background-color: black;
  }
  footer .map {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
