* {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  margin: 0;
}

/* header */

nav {
  background: #DB5461 !important;
}

.logo {
  width: 75px;
  height: 75px;
  margin-left: 5px;
}

.nav-link.active {
  text-decoration: none;
  color: white !important;
  margin-right: 15px;
}

.nav-link:hover {
  color: white !important;
}

.title-header {
  font-weight: bold;
  margin-top: 14px;
  margin-left: 10px;
  font-size: 1.2em;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 380px){
  .logo{
    width: 45px;
    height: 45px;
  }

  .title-header {
    font-size: 0.7em;
    margin-left: 0;
  }

  .video-container iframe{
    width: 285px;
    margin: auto;
  }
}

/* body */

.hero {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)), url(../assets/img/restaurante.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
}

.hero h1 {
  font-size: 2.2em;
}

.hero p {
  text-align: center;
  font-size: 1.2em;
}

.button-hero {
  font-weight: bold;
  color: white;
  background: #DB5461;
  text-decoration: none;
  border-radius: 50%;
  padding: 22px;
}

.button-hero:hover{
  color: #DB5461;
  background: white;
}

.about-principal {
  background-color: #DB5461;
}

.about-principal p {
  margin: 0;
  font-size: 1.2em;
  color: white;
  padding: 20px;
}

/* Card index */
.card-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.img-card {
  width: 36vh;
  height: 25vh;
}

/* Galery */
.img-galery {
  height: 250px;
  object-fit: cover;
  width: 100%;
}

.title-page{
  color: #ab85ff;
}


.form-container h4 {
  color: #ab85ff;
}


.video-container {
  display: flex;
  justify-content: center;
  padding: 30px 20px;
}

/* Button whatsapp */
.btn-wsp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-wsp:hover {
  text-decoration: none;
  color: #0df053;
  background-color: #fff;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  font-weight: bold;
  background-color: #DB5461;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 100%;
}

input[type="submit"]:hover {
  background-color: white;
  color: #DB5461;
  border: 2px solid black;
}

/* footer */

.icon {
  width: 25px;
  height: 25px;
}

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "contacto horarios mapa";
  background-color: rgb(189, 193, 198);
  padding: 20px;
}

hr {
  display: none;
}

@media (max-width: 800px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  hr {
    display: block;
    width: 100%;
    margin: 20px 0;
    height: 1px;
    background-color: black;
  }

}

footer a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.data {
  grid-area: contacto;
}

.data p {
  margin-left: 7px;
}

.redes-sociales {
  margin-top: 10px;
}

.redes-sociales a {
  display: inline-block;
}

.date-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-area: horarios;
}

.date-container p {
  margin-left: 7px;
  cursor: default;
}

.map {
  grid-area: mapa;
}