/* Fuentes */
$fuente-principal: "Fira Code";

/*Colores*/
$color-principal: #DB5461;
$color-secundario: white;
$color-title-pages: #ab85ff;

$color-title-logo: white;
$color-nav-item: white;
$color-nav-item-active: black;

$color-text: white;
$color-text-title: white;

